.App {
  text-align: center;
}

.main-content {
  margin : 4.5rem 2rem;
}

.btn {
  text-decoration: none;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  border: none;
  font: inherit;
  background: #5101d1;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 5px;
  margin: 0 1rem 0 0 ;
}

.btn:hover {
  background: rgba(92, 1, 237, 0.89)
}
input[type=text],
input[type=datetime-local],
input[type=email],
input[type=password],
input[type=number],
textarea
{
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  padding: 12px 12px;


}

input[type=text]:hover,
input[type=datetime-local]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=number]:hover,
textarea:hover {
  border: 1px solid #5101d1;
}

